HOST_DATA_PATH=/home/aws/data
HOST_LOG_PATH=/home/aws/log
STACKING_DIRECTORY=/home/aws/stack

SERVER_PORT=8000

STACKER_INTERVAL_S=60

SECRET_KEY=your_super_secret_key_here_change_me

UID=1000
GID=1000