{% extends "base.html" %}

{% block title %}
Stacking Software
{% endblock title %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <form method="post" id="stackingForm">
                <h5 class="text-center">Root folder</h5>
                <div class="form-group">
                    <select id="rootFolder" name="rootFolder" class="form-control" required onchange="populateSubFolders();">
                        <option value="" disabled selected>Select a root folder</option>
                        {% for folder in folders.keys() %}
                            <option value="{{ folder }}">{{ folder }}</option>
                        {% endfor %}
                    </select>
                </div>
                <hr />

                <div id="collapsedSections" style="display: none;">
                    <h5 class="text-center">Masters Folder</h5>
                    <div class="form-group">
                        <select id="mastersFolder" name="mastersFolder" class="form-control" disabled onchange="populateMasterDropdowns();">
                            <option value="" disabled selected>Select a masters folder</option>
                        </select>
                    </div>
                    <hr />

                    <h5 class="text-center">Masters</h5>
                    <div class="form-group row justify-content-center">
                        <div class="col-auto">
                            <label for="masterBias">Master Bias:</label>
                            <select id="masterBias" name="masterBias" class="form-control" disabled onchange="greyOutFolder('biasFolder', this.value);">
                                <option value="" disabled selected>Select a master bias</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <label for="masterDark">Master Dark:</label>
                            <select id="masterDark" name="masterDark" class="form-control" disabled onchange="greyOutFolder('darkFolder', this.value);">
                                <option value="" disabled selected>Select a master dark</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <label for="masterFlat">Master Flat:</label>
                            <select id="masterFlat" name="masterFlat" class="form-control" disabled onchange="greyOutFolder('flatFolder', this.value);">
                                <option value="" disabled selected>Select a master flat</option>
                            </select>
                        </div>
                    </div>

                    <hr />

                    <h5 class="text-center">Folders</h5>
                    <div class="form-group row">
                        <div class="col">
                            <label for="biasFolder">Biases:</label>
                            <select id="biasFolder" name="biasFolder" class="form-control" disabled>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="darkFolder">Darks:</label>
                            <select id="darkFolder" name="darkFolder" class="form-control" disabled>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="flatFolder">Flats:</label>
                            <select id="flatFolder" name="flatFolder" class="form-control" disabled>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="lightFolder">Lights:</label>
                            <select id="lightFolder" name="lightFolder" class="form-control" disabled>
                            </select>
                        </div>
                    </div>

                    <hr />

                    <h5 class="text-center">Image Type</h5>
                    <div class="form-group row justify-content-center">
                        <div class="col-auto">
                            <select id="imageType" name="imageType" class="form-control">
                                <option value="cfa">CFA</option>
                                <option value="mono">Mono</option>
                            </select>
                        </div>
                    </div>

                    <hr />

                    <div class="form-group row justify-content-center">
                        <div class="col-auto">
                            <div class="card card-btn mx-auto mt-4" style="width: 150px;" onclick="validateForm();">
                                <div class="card-body text-center">
                                    Stack
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-auto">
                            <div class="card card-btn mx-auto mt-4" style="width: 150px;" onclick="resetForm();">
                                <div class="card-body text-center">
                                    Reset
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        function populateSubFolders() {
            const rootFolder = document.getElementById('rootFolder').value;
            const subFolders = {{ folders|tojson }};
            const mastersFolder = document.getElementById('mastersFolder');
            const lightFolder = document.getElementById('lightFolder');
            const darkFolder = document.getElementById('darkFolder');
            const flatFolder = document.getElementById('flatFolder');
            const biasFolder = document.getElementById('biasFolder');

            // Clear existing options
            mastersFolder.innerHTML = '<option value="" disabled selected>Select a masters folder</option>';
            lightFolder.innerHTML = '<option value="" disabled selected>Select a light folder</option>';
            darkFolder.innerHTML = '<option value="" disabled selected>Select a dark folder</option>';
            flatFolder.innerHTML = '<option value="" disabled selected>Select a flat folder</option>';
            biasFolder.innerHTML = '<option value="" disabled selected>Select a bias folder</option>';

            // Populate new options
            if (subFolders[rootFolder]) {
                Object.keys(subFolders[rootFolder]).forEach(subFolder => {
                    const option = new Option(subFolder, subFolder);
                    mastersFolder.add(option.cloneNode(true));
                    lightFolder.add(option.cloneNode(true));
                    darkFolder.add(option.cloneNode(true));
                    flatFolder.add(option.cloneNode(true));
                    biasFolder.add(option.cloneNode(true));
                });
            }

            // Enable the masters folder dropdown and individual folder selects
            mastersFolder.disabled = false;
            lightFolder.disabled = false;
            darkFolder.disabled = false;
            flatFolder.disabled = false;
            biasFolder.disabled = false;

            // Uncollapse the sections
            document.getElementById('collapsedSections').style.display = 'block';
        }

        function populateMasterDropdowns() {
            const rootFolder = document.getElementById('rootFolder').value;
            const mastersFolder = document.getElementById('mastersFolder').value;
            const subFolders = {{ folders|tojson }};
            const masterDark = document.getElementById('masterDark');
            const masterFlat = document.getElementById('masterFlat');
            const masterBias = document.getElementById('masterBias');

            // Clear existing options
            masterDark.innerHTML = '<option value="" disabled selected>Select a master dark</option>';
            masterFlat.innerHTML = '<option value="" disabled selected>Select a master flat</option>';
            masterBias.innerHTML = '<option value="" disabled selected>Select a master bias</option>';

            // Populate new options
            if (subFolders[rootFolder] && subFolders[rootFolder][mastersFolder]) {
                subFolders[rootFolder][mastersFolder].forEach(file => {
                    const option = new Option(file, file);
                    masterDark.add(option.cloneNode(true));
                    masterFlat.add(option.cloneNode(true));
                    masterBias.add(option.cloneNode(true));
                });
            }

            // Enable the master dropdowns
            masterDark.disabled = false;
            masterFlat.disabled = false;
            masterBias.disabled = false;
        }

        function greyOutFolder(folderId, selectedValue) {
            const folderSelect = document.getElementById(folderId);
            const options = folderSelect.options;

            for (let i = 0; i < options.length; i++) {
                if (options[i].value === selectedValue) {
                    options[i].disabled = true;
                } else {
                    options[i].disabled = false;
                }
            }
        }

        function disableFolder(folderId, disable) {
            const folderSelect = document.getElementById(folderId);
            folderSelect.disabled = disable;
        }

		function validateForm() {
            const form = document.getElementById('stackingForm');
            const rootFolder = form.elements['rootFolder'].value;
            const lightFolder = form.elements['lightFolder'].value;

            if (rootFolder === '' || lightFolder === '') {
                alert('Please fill out all fields.');
                return false;
            }

            form.submit();
            return true;
        }

        function resetForm() {
            const form = document.getElementById('stackingForm');
            form.reset();

            // Disable all dropdowns except root folder
            document.getElementById('mastersFolder').disabled = true;
            document.getElementById('masterDark').disabled = true;
            document.getElementById('masterFlat').disabled = true;
            document.getElementById('masterBias').disabled = true;
            document.getElementById('lightFolder').disabled = true;
            document.getElementById('darkFolder').disabled = true;
            document.getElementById('flatFolder').disabled = true;
            document.getElementById('biasFolder').disabled = true;

            // Hide the sections
            document.getElementById('collapsedSections').style.display = 'none';
        }

        // Initially hide the sections and reset the form
        document.addEventListener('DOMContentLoaded', function() {
            resetForm();
        });

        // Populate subfolders when the root folder is changed
        document.getElementById('rootFolder').addEventListener('change', function() {
            populateSubFolders();
        });

        // Disable the appropriate folder when a master file is selected
        document.getElementById('masterDark').addEventListener('change', function() {
            greyOutFolder('darkFolder', this.value);
            disableFolder('darkFolder', this.value !== '');
        });
        document.getElementById('masterFlat').addEventListener('change', function() {
            greyOutFolder('flatFolder', this.value);
            disableFolder('flatFolder', this.value !== '');
        });
        document.getElementById('masterBias').addEventListener('change', function() {
            greyOutFolder('biasFolder', this.value);
            disableFolder('biasFolder', this.value !== '');
        });
    </script>

{% endblock content %}