{% extends "base.html" %}

{% block title %}
AstrophotoWebStack
{% endblock title %}

{% block content %}

<div class="pane-container">
	<div class="left-pane">
		<h2>Stacking log:</h2>
		<div id="logContent" class="log-box">
			<pre id="logText" style="margin: 0; white-space: pre-wrap;"></pre>
		</div>
	</div>
	<div class="right-pane">
		<h2>Stacking Parameters:</h2>
		<div class="param-box">
			<ul style="list-style-type: none; padding: 0;">
				{% for key, value in data.items() %}
					{% if loop.revindex <= 1 %}
						<li style="padding: 15px 15px 0px 15px; border-bottom: none;">
							<strong style="text-transform: capitalize;">{{ key.replace('_', ' ') }}:</strong>
							<span style="color: #b4b3b3;">{{ value }}</span>
						</li>
					{% else %}
						<li style="padding: 15px; border-bottom: 1px solid #eee;">
							<strong style="text-transform: capitalize;">{{ key.replace('_', ' ') }}:</strong> 
							<span style="color: #b4b3b3;">{{ value }}</span>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

<script>
	function fetchLogContent() {
		fetch('/log/{{ stack_id }}')
			.then(response => response.json())
			.then(data => {
				const logText = document.getElementById('logText');
				logText.innerText = data.log_content;
				//if there is "Trace is stopped" in the log, then the stacking is finished
				if (data.log_content.includes('Trace is stopped')) {
					//look for [status: error] in the log
					clearInterval(fetchLogContent);

					if (!data.log_content.includes('[status: error]')) {
						document.getElementById('logContent').style.color = '#d4edda';
						//redirect the user after 10 seconds to the result page
						setTimeout(() => {
							window.location.href = '/result/{{ stack_id }}';
						}, 10000);

					} else {
						document.getElementById('logContent').style.color = '#f8d7da';
					}

				}
				logText.parentElement.scrollTop = logText.scrollHeight; // Autoscroll to the bottom
			})
			.catch(error => console.error('Error fetching log content:', error));
	}

	setInterval(fetchLogContent, 100);

	fetchLogContent();
</script>

{% endblock content %}